<div class="container">
  <!-- section title -->
  <h2 class="section-title wow fadeInUp">Sobre</h2>

  <div class="spacer-60"></div>

  <div class="row">
    <div class="col-md-3">
      <div class="text-center text-md-left">
        <!-- avatar image -->
        <img src="assets/images/avatar-1.jpg" alt="avatar" />
      </div>
      <div class="spacer-30 d-md-none d-lg-none"></div>
    </div>

    <div class="col-md-9 triangle-left-md triangle-top-sm">
      <div class="rounded bg-white shadow-dark padding-30">
        <div class="row">
          <div class="col-md-12">
            <!-- about text -->
            <p>
              Olá mundo! 👋
            </p>

            <p>
              Eu sou Abel Gasque, tenho 22 anos de idade, formado no FIESC - SENAI com ensino médio integrado ao
              curso técnico de informática e graduando o curso de Sistema de Infomação.
              Atualmente sou engenheiro de software na PTC Group, alocado em uma fintech como desenvolvedor back-end.
            </p>

            <p>
              Em 2022 fundei meu empreendimento
              <a href="https://gasqueit.web.app/"> GASQUE ENTERPRISE AND INFORMATION TECHNOLOGY SERVICES LTDA </a>.
              Com objetivo de prestar meus serviços de desenvolvimento de software para clientes e parceiros como
              pessoa jurídica.
            </p>
          </div>

          <div class="mt-3">
            <a href="assets/images/cv.pdf" class="btn btn-default" download>Download CV</a>
          </div>
          <div class="spacer-30 d-md-none d-lg-none"></div>

        </div>
      </div>
    </div>
  </div>

</div>